  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="vertical-align:top">
        <div>
  <div class="division gridlist">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
           </tr> 
          <th><{t}>详细信息<{/t}></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style=" white-space:normal; text-align:left;">订单号: <span class="fontcolorOrange fontbold"><{$res.mess_queue_id}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">目标店铺node_type: <span class="fontcolorOrange fontbold"><{$res.to_node_type}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">目标店铺名称: <span class="fontcolorOrange fontbold"><{$res.shop_name}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">请求接口: <span class="fontcolorOrange fontbold"><{$res.store_class}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">msg_id号: <span class="fontcolorOrange fontbold"><{$res.msg_id}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">返回信息: <span class="fontcolorOrange fontbold"><{$res.message}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">返回结果: <span class="fontcolorOrange fontbold"><{$res.status}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left; width:100px;">发送信息: <span class="fontcolorOrange fontbold"><{$res.data_info}></span></td>
        </tr>
        </tbody>
      </table>
  </div>