  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td style="vertical-align:top">
        <div>
  <div class="division gridlist">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <thead>
           </tr> 
          <th><{t}>详细信息<{/t}></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td style=" white-space:normal; text-align:left;">店铺名称: <span class="fontcolorOrange fontbold"><{$res.shop_name}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">店铺node_type: <span class="fontcolorOrange fontbold"><{$res.to_node_type}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">店铺node_id: <span class="fontcolorOrange fontbold"><{$res.to_node_id}></span></td>
        </tr>
        <tr>
          <td style=" white-space:normal; text-align:left;">绑定状态: <span class="fontcolorOrange fontbold"><{$res.bind_status}></span></td>
        </tr>
        </tbody>
      </table>
  </div>